* {
    margin: 4px;
    padding: 0px;
    box-sizing: border-box;
    color: #555;
}
.color-select{
    display: flex;
}
.color-select span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.color-1{
    background-color: red;
}
.color-2{
    background-color: greenyellow;
}
.color-3{
    background-color: black;
}
.color-select input{
    display: none;
}

/* creating font face  */

@font-face {
    font-family: 'futura';
    src: url('./fonts/futura/futura\ medium\ bt.ttf');
}

/* Scroll Progress Bar*/
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0.4rem;
    background-color: #3a383cc7; /* Customize the color as needed */
    z-index: 9999;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 40px;
    right:50px;
    text-decoration: none;
    text-align:center;
    line-height: 50px;
    color: white;
    border-radius: 50%;
    font-size: 22px;
}
html{
    scroll-behavior: smooth;
}


/* header css  */

.header {
    height: 70px;
    width: 100%;
    /* background-color: red; */
    padding: 0px 2%;
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 12%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'futura';
    font-weight: bold;
    font-size: 25px;
}
.logo img{
    height: 65px;
    width: 80px;
}

.border {
    font-size: 0.85rem;
}

.border:hover {
    text-decoration: underline;
    font-weight: 500;
}

.navigation {
        width: 45%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        /* background-color: blue; */
}

.nav-links {
    width: 150%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
    font-family: 'futura';
    font-size: 17px;
    color: #1d1d1d;
}

.nav-links>.nav-link {
    width: 150px;
    display: flex;
    justify-content: center;
}

.nav-links>.nav-link>a {
    color: #1d1d1d;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85px;
}

.nav-links>.nav-link>i {
    font-size: 20px;
}

.utils {
    width: 8%;
    height: 70px;
    margin-right: 45px;
    /* background-color: purple; */
}

/* banner css  */

.banner {
    width: 100%;
    height: 750px;
    background-color: gray;
}

.slide {
    width: 100%;
    height: 100%;
    background-image: url('./images/h1-slide-show-1_1_1.webp');
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.slide-details {
    width: 27%;
    padding: 40px;
    /* background-color: red; */
    font-family: 'futura';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;

}

.slide-details>h1 {
    font-size: 60px;
}

.btn {
    padding: 12px 30px;
    background-color: black;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    transition: 0.3s ease;
}
.btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

/* featured section css  */

.featured {
    width: 100%;
    padding: 10px 0px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.featured-box-1 {
    width: 33%;
    height: 570px;
    /* background-color: green; */
    position: relative;
}


.featured-box-2 {
    width: 33%;
    height: 570px;
    /* background-color: purple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.featured-box-2-box-1 {
    width: 100%;
    height: 280px;
    /* background-color: green; */
    position: relative;
}

.featured-box-2-box-2 {
    width: 49.5%;
    height: 280px;
    /* background-color: green; */
    position: relative
}

.featured-box-2-box-3 {
    width: 49.5%;
    height: 280px;
    /* background-color: green; */
    position: relative;
}

.featured-box-3 {
    width: 33%;
    height: 570px;
    /* background-color: green; */
    position: relative;
}

.bg-image {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    overflow: hidden;

}

.bg-image>img {
    width: 100%;
    transition: .2s;
}

.featured-box-1:hover img,
.featured-box-3:hover img {
    transform: scale(1.1);
}

.overlay {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    position: absolute;
    display: flex;
    padding: 5%;
    align-items: flex-end;
    justify-content: center;
}

.btn-white {
    background-color: white;
    border: 1px solid white;
    color: #1d1d1d;
    box-shadow: 0 0 3px lightgray;
    z-index: 20;
    transition: 0.3s ease;
}
.btn-white:hover{
    background-color: black;
    color: white;
}
.btn-white{
    text-decoration: none;
    
}

.featured-box-1:hover img,
.featured-box-3:hover img,
.featured-box-2-box-1:hover img,
.featured-box-2-box-2:hover img,
.featured-box-2-box-3:hover img {
    transform: scale(1.1);
}

/* products css  */

.products {
    width: 100%;
    padding: 30px 20%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}


.section-title {
    font-family: 'futura';
}

.products-list {
    width: 100%;
    padding: 20px 0px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}


.product {
    width: 24.5%;
    height: 420px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-family: futura;
    font-size: 17px;

}

.product:hover .main-image {
    transform: scale(1.2);
    opacity: 0;
}

.product:hover .effect-image {
    opacity: 1;
    transform: scale(1);
}


.product:hover .overlay-image {
    margin-top: 0px;
}

.product-image {
    height: 370px;
    width: 100%;
    /* background-color: blue; */
    position: relative;
    overflow: hidden;
}

.product-image img {
    width: 100%;
}

.main-image {
    width: 100%;
    height: 100%;
    /* background-color: purple; */
    position: absolute;
    transition: .3s;
}

.effect-image {
    width: 100%;
    height: 100%;
    /* background-color: cyan; */
    position: absolute;
    opacity: 0;
    transform:scale(1.2);
    transition: .6s;
    /* display: none; */
}

.overlay-image {
    width: 100%;
    height: 100%;
    /* background-color: brown; */
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding: 5%;
    margin-top: 100px;
    transition: .35s;
    /* display: none; */
}

#heart{
    font-size: 2.5em;
    box-shadow: none;
    padding: 1.5px;
    background: transparent;
    border: none;
}

.product-details
{
    padding: 0px 5px 5px ;
    display: flex;
    flex-direction: column;
    font-family: 'futura';
}

.product-name
{
    font-weight: 500;
    text-align: center;
    font-size: 1.3em;
}

.product-price{
    color: rgb(63, 61, 61);
    text-align: center;
    font-size: 1em;
}

/* categories section  */

.categories {
    width: 100%;
    padding: 30px 20%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.category {
    width: 33%;
    /* background-color: yellow; */
}

.cat-img {
    width: 100%;
    height: 400px;
    /* background-color: blue; */
    overflow: hidden;
}

.cat-img>img {
    width: 100%;
    transition: .2s;

}

.category:hover img {
    transform: scale(1.3);
}


/* shop from insta section css */

.insta {
    width: 100%;
    padding: 30px 20%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.posts {
    width: 100%;
    padding: 20px 0px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;

}

.post-image {
    width: 16%;
    height: 170px;
    position: relative;
    /* background-color: green; */
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

}

.post-image img {
    width: 100%;
    transition: .2s;
}

.post-image:hover img {
    transform: scale(1.2);
}

.post-image i {
    position: absolute;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 20;
}

.footer {
    width: 100%;
    padding: 30px 20%;
    background-color: #f6f5fa;
    font-family: 'futura';
    display: flex;
    justify-content: space-between;
    color: #1d1d1d;
}

.footer-section {
    /* background-color: red; */
    width: 32%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}


.footer-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer-list li a {
    color: black;
    text-decoration: none;

}

.border-list {
    margin-top: 20px;
    border-top: 1px solid lightgray;
    width: 70%;
}

.socials {

    margin-top: 20px;
    display: flex;
    font-size: 20px;
    column-gap: 30px;

}

.socials a {
    transition: all .38s ease;
    color: black;
}

.socials a:hover {
    color: white;
    transform: scale(1.2);
    padding: 2px 4px;
    border-radius: 4px;
}

#github:hover {
    background-color: #3a383c;
}

#linkedin:hover {
    background-color: #0a66c2;
}

#instagram:hover {
    background-color: #e1306c;
}

#twitter:hover {
    background-color: #14171A;
}

.sub {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sub input {
    height: 40px;
    width: 100%;
    max-width: 300px;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding: 0 15px;
    margin-bottom: 10px;
}

.sub .btn {
    width: auto;
    padding: 10px 20px;
    font-size: 14px;
}

.sub .btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Adds a subtle shadow */
    transition: all 0.3s ease;
    /* Smooth transition for the hover effect */
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}


input {
    height: 20px;
    width: 6%;
    border-radius: 30px;
    border: 1px solid lightgray;
}

.menu {
    display: none;
}


@media (max-width:560px) {
    .header {

        height: 50px;
        /* background-color: red; */
        flex-direction: column;
        display: block;
        overflow-y: hidden;
        transition: .3s;
        position: fixed;
        z-index: 150;
        top: 0;
        background-color: white;
        /* align-items: flex-start; */

    }

    .logo {
        height: 50px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        /* background-color: yellow; */
    }





    .menu {
        display: block;
    }

    .navigation {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .utils {
        width: 70%;
    }

    .navigation>.nav-links {
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        height: auto;
    }

    .nav-links>.nav-link {
        padding: 3px;
    }

    .nav-links>.nav-link:hover {
        background: rgb(215, 214, 214);
        padding: 3px;
        border-radius: 10px;
    }

    .nav-link:hover {
        cursor: pointer;
    }

    .utils {
        width: 100%;
        justify-content: space-evenly;
    }

    .banner {
        height: 250px;
        margin-top: 50px;
    }

    .slide {
        background-size: cover;
        padding-left: 5%;
    }

    .slide-details {
        width: 80%;
    }

    .slide-details>h1 {
        font-size: 22px;
    }

    .btn {
        font-size: 10px;
    }

    .featured {
        flex-direction: column;
        row-gap: 5px;
    }

    .featured-box-1 {
        width: 100%;
        height: 250px;
    }

    .featured-box-1 img,
    .featured-box-3 img {
        margin-top: -100px;
    }

    .featured-box-2 {
        width: 100%;
        height: 300px;
        row-gap: 5px;
    }

    .featured-box-2-box-1,
    .featured-box-2-box-2,
    .featured-box-2-box-3 {
        height: 147.5px;
    }

    .featured-box-3 {
        width: 100%;
        height: 250px;
    }

    .products {
        padding: 30px 5%;
        align-items: flex-start;
        overflow-x: scroll;
    }

    .products-list {
        width: 290%;
    }

    .categories {
        padding: 30px 5%;
        flex-direction: column;
    }

    .category {
        width: 100%;
    }

    .insta {
        padding: 30px 5%;
    }

    .posts {
        /* flex-direction: column; */
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .post-image {
        width: 49%;

    }

    .footer {
        padding: 30px 5%;
        flex-direction: column;
        row-gap: 20px;
    }

    .footer-section {
        width: 100%;

    }
}



/* Contact Section Styles */
.contact-section {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-family: 'futura';
}

.contact-description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    font-family: 'futura';
}

.contact-email {
    color: #007bff;
    text-decoration: none;
}

.contact-email:hover {
    text-decoration: underline;
}


/* Form Styles */
.contact-form {
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    display: block;
    font-family: 'futura';
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'futura';
}

.form-textarea {
    height: 120px;
}

.btn-submit {
    padding: 12px 20px;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'futura';
}

.btn-submit:hover {
    background-color: #d35400;
}

/* Contact Info Section */
.contact-info {
    margin-top: 30px;
    font-family: 'futura';
}

.info-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    font-family: 'futura';
}

.info-detail {
    font-size: 1rem;
    font-family: 'futura';
    color: #555;
    margin: 5px 0;
}

.footer-copyright {
    display: flex;
    margin-top: auto;
    font-size: 18px;

    justify-content: center;
    background-color: #f6f5fa;
    font-family: 'futura';
    color: #1d1d1d;

}

#copyright {
    margin-bottom: 5px;
}


.terms-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 30px; 
}

.terms-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.terms-description {
    color: #2c3e50;
    font-size: 1.4em;
    line-height: 1.8; 
    margin-bottom: 25px; 
    text-align: center; 
    font-weight: 600; 
}

.terms-details, .terms-thanks {
    font-size: 1rem;
    font-family: 'futura'; 
    color: #555;
    margin: 5px 0;
    line-height: 1.6; 
    text-align: left;
}

/* mens section styling */
main{
    background-color: #f0efef; 
}
.slider{
    background: url(shoppingimage.jgp);
    margin: 12px;
    display: flex;
    justify-content: center;
}
.my2{
    text-align: center;
}
.cards{
    display: flex;
     flex-wrap:wrap;
    justify-content: center;
    align-items: center;
} 
.card-items{
   height: 350px;
  width: 230px;
  margin: 40px;
  }
.cardimage{
    width: 200px;
    height: 290px;
    
}
.lines{
    text-align: center;
    font-family: 'futura';
}
.cardimage:hover{
    width: 220px;
    height: 310px;
}
.footwear-items{
    height: 280px;
   width: 230px;
   margin: 40px;
   }
 .footwear{
     width: 230px;
     height: 250px;
     
 }
 .footwear:hover{
    width: 240px;
    height: 300px;
}
/* dropdown for products nav-item */
/* dropdown styling  */
/* .dropdown a{
    color: #1d1d1d;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85px;
} */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content li {
    float: none;
  }
  
  .dropdown-content li a {
    padding: 12px 16px;
    text-align: left;
  }
  
  /* Show dropdown on hover */
  .dropdown:hover .dropdown-content {
    display: block;
   
  }
  
  .bg-neutral-100 {
    margin-top: 10px;
    height: 50px;
    padding: 0 0;
}

.tabs-container {
    display: flex;
    justify-content: center;
    padding-top: 1px;
}

.tabs {
    position: relative;
    display: flex;
    list-style-type: none;
    border: 2px solid black !important;
    border-radius: 999px;
    background-color: white;
    padding: 0;
}

.tab {
    position: relative;
}

.tab a {
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    transition: color 0.3s ease;
    position: relative;
    z-index: 10;
}

.tab a:hover {
    color: white !important;
}

.cursor {
    position: absolute;
    background-color: black;
    height: 40px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 999px;
    z-index: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.tab:hover .cursor {
    opacity: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    list-style-type: none;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: darkgray;
    color: white;
}

.dropdown-content a:hover {
    color: white;
}

/*return policy page*/

.return-policy-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 30px; 
}

.return-policy-details ul {
    margin: 0 0 15px 20px; 
    padding-left: 20px;
}

.return-policy-details li {
    margin-bottom: 5px;
}

.return-policy-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.return-policy-description {
    color: #2c3e50;
    font-size: 1.4em;
    line-height: 1.8; 
    margin-bottom: 25px; 
    text-align: center; 
    font-weight: 600; 
}

.return-policy-details,
.return-policy-thanks {
    font-size: 1rem;
    font-family: 'Futura', sans-serif; /* Added fallback font */
    color: #555;
    margin: 5px 0;
    line-height: 1.6; 
    text-align: left; 
}