/* Styling for the pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    display: flex;
    background-color: white;
    border-radius: 10px;
    max-width: 800px;
    height: 450px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .popuplogo{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
  }
  
  .popup-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .popup-right {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .popup-right p{
    margin-bottom: 25px;
  }
  
  .popup h1 {
    font-size: 32px;
    color: #333;
    margin-top: 18px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    margin-bottom: 20px;
    color: #000000;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .popuph2{
    margin-right: 4px;
    margin-bottom: 15px;
  }
  
  .signup-btn {
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-btn:hover {
    background-color: #c4c1c1;
    color: black;
    transition: 0.4s;
  }
  
  .no-thanks {
    color: #000000;
    display: block;
    margin-top: 15px;
    padding: 6px 20px;
    /* padding-left: 15px; */
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.4s;
  }
  
  .no-thanks:hover {
    color: #000000;
    font-size: 15.5px;

  }

  
  .terms {
    margin-top: 15px;
    font-size: 11px;
    color: #888;
  }
  
  .terms a {
    color: #333;
  }
  